header{
    background-color: green;
    font-size: large;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    
    background-color: darkseagreen;
}
footer{
    background-color: firebrick;
    font-style: oblique;
}
h3, h4, h5{
    color: lawngreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: large;
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
}
h1, h2{
    color: black;
}
div.nav{
    display: flex;
}
.ul-flex
{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul{
    height: 50px;
}
body{
    background-color: gray;
}
.header-flex{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 30%;
}
.h2-flex{
    display: flex;
}
header{
    background-color: honeydew;
    background-image: url(../images/123.jpg);
    height: 300px;
    
}
a{
    color: springgreen;
}
